/* Global Base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background:linear-gradient(180deg,#a82ba2,#028090);
    color: white;
    position: sticky;
    top: 0;
    

}
/* Logo styling */
.logo-circle {
display: flex;
align-items: center;
width: 2.9rem;
height: 2.9rem;
 background:linear-gradient(180deg,#fa92fa,#0c0d0d);
border-radius: 100%;
}
.logo-circle span{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.logo-circle span2{
    text-decoration:double underline ;
    font-size: 15px;
    color: #ff0000; 
}
.navbar a {
    position: relative;        
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: purple;
    transition: width 0.3s ease;
}
/* on hover */
.navbar a:hover {
    color: purple;
}
.navbar a:hover::after {
    width: 100%;
}
.menu{
    display: none;
}
/* HOME */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
}
.home h1{
    font-size: 55px;
}
.home span {
    color: purple;
    font-size: 60px;
}

.home-text p {
    margin: 20px 0;
    padding-top: 10px;
    font-size: 40px;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    background:linear-gradient(180deg,#a82ba2,#028090);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(0.95);
      background:linear-gradient(180deg,#f17aeb,#3ec4d6);
}

.home-image img {
    width: 400px;
    border-radius: 10px;
}
/* about  */
.about{
    text-align: center;
    padding: 90px 90px;
    background: white;
}
.about span{
    color:purple;
}
.about p {
    font-size: 30px;
    
}
.about h2 {
    padding-bottom: 20px;
    font-size: 50px;
    text-decoration: underline;
    color:  purple;
}
.about ul {
    display: inline-block;
}
.about ul li{
    text-align: left;
    font-size: 30px;
    margin: 8px 0;
}
li::marker{
    color: purple;
}

/* SERVICES */
.services {
    padding: 80px 40px;
    text-align: center;
    
}
.services h2{
    color: purple;
    font-size: 50px;
    padding-bottom: 20px;
    text-decoration: underline;
}
.services h3{
    font-size: 38px;
    color: #fff;
}

.service-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
    width: 250px;
    padding: 30px;
    font-size: 30px;
    background:linear-gradient(180deg,#a82ba2,#028090);
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background:linear-gradient(180deg,#a82ba2,#028090);
} 
/* Contact */
/* LEFT PANEL */
.contact{
    padding: 80px 40px;
    /* text-align: center; */
}
 h2{
    color: purple;
    font-size: 50px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-align: center;

}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
}
.left{
    border-radius: 10px;
    width:40%;
    padding:100px 80px;
    background:linear-gradient(180deg,#a82ba2,#028090);
    color:#fff;
}

.left h4{
    letter-spacing:2px;
    margin-bottom:15px;
}

.left h1{
    font-size:42px;
    margin-bottom:20px;
}

.left p{
    line-height:1.6;
    margin-bottom:30px;
}

.info{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

/* RIGHT PANEL */
.right{
    width:60%;
    padding:60px 40px;
}

.right h3{
    font-size: 40px;
    color:purple;
    margin-bottom:25px;
}

/* FORM */
form{
    display:flex;
    flex-direction:column;
    gap: 10px;
}

input, textarea{
    width:70%;
    padding:14px 16px;
    border-radius:12px;
    border:1px solid #ccc;
    font-size:16px;
    outline:none;
}

textarea{
    resize:none;
    height:150px;
}

input:focus, textarea:focus{
    border-color:#c62dc6;
}

/* BUTTON */
.form input[type="submit"]{
    margin-top:10px;
    padding:15px;
    border:none;
    border-radius:14px;
    background:linear-gradient(180deg,#a82ba2,#028090);
    color:#fff;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
    width: 70%;
}

.form input[type="submit"]:hover{
    transform:scale(0.97);
    opacity:0.9;
    background:linear-gradient(180deg,#f17aeb,#3ec4d6);

}

/* footer */
footer{
    background:linear-gradient(180deg,#a82ba2,#028090);
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 14px;
}
@media (max-width: 768px) {
    .menu {
        display: block;
        cursor: pointer;
    }
    nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background:linear-gradient(180deg,#028090,#a82ba2);
        flex-direction: column;
        width: 200px;
        padding: 50px;
        /* padding-bottom: 50px; */
    }
    nav.active {
        display: flex;
        align-items: center;
    }
    .home {
        flex-direction: column;
        text-align: center;
    }
    .home-text p{
        font-size: 30px;
    }

    .home-image img {
        margin-top: 30px;
    }
   .contact{
        flex-direction:column;
        text-align: center;
    }
    .form{
        align-items: center;
    }
    .left{
        width:100%;
    }
    .right{
        width:100%;
        margin-top: 30px;
}
}

